<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ytxu.androidbackflow">

    <application
        android:name=".sample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- launch mode -->
        <activity android:name=".sample.launch_mode.LaunchModeActivity" />
        <activity
            android:name=".sample.launch_mode.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sample.launch_mode.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".sample.launch_mode.SingleTopActivity"
            android:launchMode="singleTop" />

        <!-- multi fragment -->
        <activity android:name=".sample.fragments.multi_fragment.MultiFragmentActivity" />
        <activity android:name=".sample.fragments.multi_fragment.MFSecondActivity" />

        <!-- multi process -->
        <activity
            android:name=".sample.multi_task_or_process.multi_process.MultiProcessActivity"
            android:process=":multi" />

        <!-- multi task -->
        <activity
            android:name=".sample.multi_task_or_process.multi_task.MultiTaskActivity"
            android:taskAffinity=":a132" />

        <!-- multi task and process -->
        <activity
            android:name=".sample.multi_task_or_process.multi_task_and_process.MultiTaskAndProcessActivity"
            android:process=":multi"
            android:taskAffinity=":a132" />

        <!-- request activity and fragment -->
        <activity android:name=".sample.normal.request_activity_and_fragment.ContainerAF1Activity" />
        <activity android:name=".sample.normal.request_activity_and_fragment.ContainerAF2Activity" />

        <!-- request fragment -->
        <activity android:name=".sample.ContainerActivity" />

        <!-- request activity -->
        <activity android:name=".sample.normal.request_activity.letter.LetterAActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterBActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterCActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterDActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterEActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterFActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterGActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterHActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterIActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterJActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterKActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterLActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterMActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterNActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterOActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterPActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterQActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterRActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterSActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterTActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterUActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterVActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterWActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterXActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterYActivity" />
        <activity android:name=".sample.normal.request_activity.letter.LetterZActivity" />

        <!-- request back activity count -->
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterAActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterBActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterCActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterDActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterEActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterFActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterGActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterHActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterIActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterJActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterKActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterLActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterMActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterNActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterOActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterPActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterQActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterRActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterSActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterTActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterUActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterVActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterWActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterXActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterYActivity" />
        <activity android:name=".sample.normal.request_activity_count.letter.ACLetterZActivity" />
    </application>

</manifest>