<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ytxu.androidbackflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".sample.ContainerActivity" />

        <!-- letter -->
        <activity android:name=".sample.letter.LetterAActivity" />
        <activity android:name=".sample.letter.LetterBActivity" />
        <activity android:name=".sample.letter.LetterCActivity" />
        <activity android:name=".sample.letter.LetterDActivity" />
        <activity android:name=".sample.letter.LetterEActivity" />
        <activity android:name=".sample.letter.LetterFActivity" />
        <activity android:name=".sample.letter.LetterGActivity" />
        <activity android:name=".sample.letter.LetterHActivity" />
        <activity android:name=".sample.letter.LetterIActivity" />
        <activity android:name=".sample.letter.LetterJActivity" />
        <activity android:name=".sample.letter.LetterKActivity" />
        <activity android:name=".sample.letter.LetterLActivity" />
        <activity android:name=".sample.letter.LetterMActivity" />
        <activity android:name=".sample.letter.LetterNActivity" />
        <activity android:name=".sample.letter.LetterOActivity" />
        <activity android:name=".sample.letter.LetterPActivity" />
        <activity android:name=".sample.letter.LetterQActivity" />
        <activity android:name=".sample.letter.LetterRActivity" />
        <activity android:name=".sample.letter.LetterSActivity" />
        <activity android:name=".sample.letter.LetterTActivity" />
        <activity android:name=".sample.letter.LetterUActivity" />
        <activity android:name=".sample.letter.LetterVActivity" />
        <activity android:name=".sample.letter.LetterWActivity" />
        <activity android:name=".sample.letter.LetterXActivity" />
        <activity android:name=".sample.letter.LetterYActivity" />
        <activity android:name=".sample.letter.LetterZActivity" />
    </application>

</manifest>